{% extends 'base.html' %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div class="flex flex-col items-center justify-center gap-2 w-full px-auto">
  <div class="text-gray-900 text-3xl font-bold my-2">
    All Patients List
  </div>
  <div class="flex flex-col md:flex-row gap-5 md:gap-5">

    <!-- search form -->
     <div class="flex flex-col">
       <p class="text-2xl text-gray-700 w-full">Filter result</p>
       <form class="flex md:flex-col gap-8 flex-wrap md:gap-2 mt-10 md:w-72 text-gray-700" hx-get="/" hx-target="#patient-list" hx-push-url="true" method="get">
   
         {{ filters.form.as_p }}
         <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Filter</button>
       </form>

     </div>
    <div class="flex flex-col gap-2 w-full md:flex-1 md:mt-10 mb-10" id="patient-list">
      {% include 'patients/patients_list.html' with patients=patients %}
    </div>
  </div>
</div>
{% endblock %}